{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}



{% block body %}
    <div class="wrapper">
        <a href="{{ path('add_post_index') }}">Add new post</a>
        <h1>Blog Posts</h1>

        {% if posts is empty %}
            <p>No posts yet. <a href="{{ path('add_post_index') }}">Add a post</a>.</p>
        {% else %}
            {% for post in posts %}
                <div class="post" style="margin-bottom: 20px; border-bottom: 1px solid #ccc;">
                    <div class="post-title">
                        <a href="{{ path('blog_post', { id: post.id }) }}">
                            {{ post.title }}
                        </a>
                    </div>
                    <div class="post-date">{{ post.author.email }} <br> {{ post.createdAt|date('Y-m-d H:i') }}</div>
                    <div class="post-content">
                        {{ post.content|slice(0, 20)|raw }}...
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}
